* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: #e9e3ff;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

button {
  cursor: pointer;
  background-color: #e5e7e5;
  color: #4b5563;
  border: 1px solid #6b7280;
  border-radius: 0.35em;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
  font-weight: 700;
  padding: 0.59em 1.05em;
  line-height: 24px;
  display: flex;
  align-items: center;
}

button > svg {
  margin-right: 0.5em;
  color: rgb(89, 127, 89);
  height: 25px;
  width: 25px;
  display: flex;
  align-items: center;
}

button.button-sm {
  padding: 0.45em 0.65em;
  font-size: 0.8rem;
}

button.button-md {
  padding: 1em 1.5em;
  font-size: 1rem;
}

button.button-lg {
  padding: 1.8em 2.8em;
  font-size: 1.5rem;
}

button.button-warning {
  color: #fbbf24;
  background-color: #fffbeb;
  border: 1px solid #fbbf24;
}

button.button-success {
  color: #047857;
  background-color: #ecfdf5;
  border: 1px solid #047857;
}

button.button-danger {
  color: #f87171;
  background-color: #fef2f2;
  border: 1px solid #f87171;
}
